In [5]:
import pandas as pd
import numpy as np
import plotly as py
from plotly import tools
import plotly.graph_objs as go
from feature_functions import *
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

from scipy import stats
import scipy.optimize
from scipy.optimize import OptimizeWarning
import warnings
from sklearn.linear_model import LinearRegression

# Variables:
future = 15
averages = [5,10,15,20,30,50,70,100,200,300]


# Loading the data
df = pd.read_csv("data/EURUSDhour.csv")
df.columns = ['date','open','high','low','close','volume']
df.date = pd.to_datetime(df.date, format='%d.%m.%Y %H:%M:%S.%f')
df = df.set_index(df.date)
df = df[['open','high','low','close','volume']]

# Drop elements where there is no mouvement (Market closed) like in the weekends
df = df.drop_duplicates(keep=False)
df

                        open     high      low    close      volume
date
2017-01-01 22:00:00  1.05236  1.05253  1.05221  1.05227    143.5400
2017-01-01 23:00:00  1.05227  1.05426  1.05226  1.05282    253.1400
2017-01-02 00:00:00  1.05283  1.05283  1.05268  1.05281    131.4000
2017-01-02 01:00:00  1.05282  1.05286  1.05225  1.05240    273.9400
2017-01-02 02:00:00  1.05239  1.05240  1.05164  1.05220    258.1400
2017-01-02 03:00:00  1.05219  1.05244  1.05184  1.05226   2288.1799
2017-01-02 04:00:00  1.05226  1.05232  1.05181  1.05193    711.8000
2017-01-02 05:00:00  1.05195  1.05197  1.05136  1.05161    288.2100
2017-01-02 06:00:00  1.05163  1.05176  1.05113  1.05172    390.8800
2017-01-02 07:00:00  1.05171  1.05243  1.05129  1.05162   3070.0701
2017-01-02 08:00:00  1.05159  1.05188  1.04878  1.04899   6903.9502
2017-01-02 09:00:00  1.04899  1.04932  1.04779  1.04877   6126.9600
2017-01-02 10:00:00  1.04879  1.04899  1.04786  1.04815   6102.1201
2017-01-02 11:00:00  1.04815  1.04818  1.04774  1.04790   2092.5300
2017-01-02 12:00:00  1.04792  1.04792  1.04653  1.04663   3961.3501
2017-01-02 13:00:00  1.04662  1.04697  1.04617  1.04666   5302.0698
2017-01-02 14:00:00  1.04672  1.04763  1.04653  1.04738   6837.7500
2017-01-02 15:00:00  1.04738  1.04745  1.04647  1.04725   8565.1904
2017-01-02 16:00:00  1.04726  1.04800  1.04691  1.04705   1806.4100
2017-01-02 17:00:00  1.04705  1.04705  1.04627  1.04668   1172.0100
2017-01-02 18:00:00  1.04667  1.04678  1.04610  1.04619   3437.7400
2017-01-02 19:00:00  1.04620  1.04652  1.04604  1.04610   3121.2500
2017-01-02 20:00:00  1.04610  1.04620  1.04575  1.04610   5411.5801
2017-01-02 21:00:00  1.04609  1.04609  1.04505  1.04552   9344.9502
2017-01-02 22:00:00  1.04556  1.04739  1.04555  1.04637   1460.3500
2017-01-02 23:00:00  1.04641  1.04722  1.04566  1.04579   9331.0195
2017-01-03 00:00:00  1.04578  1.04714  1.04574  1.04665   3570.3101
2017-01-03 01:00:00  1.04664  1.04810  1.04647  1.04760   4245.8398
2017-01-03 02:00:00  1.04760  1.04784  1.04709  1.04722   3148.0701
2017-01-03 03:00:00  1.04723  1.04850  1.04714  1.04850   3512.3899
...                      ...      ...      ...      ...         ...
2018-07-26 15:00:00  1.16590  1.16681  1.16506  1.16544  16375.8799
2018-07-26 16:00:00  1.16543  1.16669  1.16496  1.16632  12999.2598
2018-07-26 17:00:00  1.16634  1.16645  1.16542  1.16566  11545.7402
2018-07-26 18:00:00  1.16567  1.16572  1.16405  1.16454  10812.1797
2018-07-26 19:00:00  1.16451  1.16484  1.16410  1.16423   7245.4102
2018-07-26 20:00:00  1.16424  1.16484  1.16422  1.16434   4923.0898
2018-07-26 21:00:00  1.16435  1.16464  1.16391  1.16397   3016.7700
2018-07-26 22:00:00  1.16396  1.16425  1.16390  1.16417   3088.1299
2018-07-26 23:00:00  1.16417  1.16453  1.16382  1.16441   4166.1499
2018-07-27 00:00:00  1.16438  1.16453  1.16406  1.16418   8507.7695
2018-07-27 01:00:00  1.16418  1.16489  1.16380  1.16448   8247.7100
2018-07-27 02:00:00  1.16447  1.16529  1.16433  1.16526   6441.0498
2018-07-27 03:00:00  1.16525  1.16555  1.16487  1.16493   6685.0898
2018-07-27 04:00:00  1.16494  1.16519  1.16464  1.16477   4586.2900
2018-07-27 05:00:00  1.16477  1.16505  1.16409  1.16485   8698.9805
2018-07-27 06:00:00  1.16485  1.16514  1.16364  1.16464  12412.7100
2018-07-27 07:00:00  1.16463  1.16579  1.16426  1.16468  12568.3203
2018-07-27 08:00:00  1.16468  1.16475  1.16250  1.16265  14261.8496
2018-07-27 09:00:00  1.16265  1.16345  1.16222  1.16251  13384.6299
2018-07-27 10:00:00  1.16252  1.16345  1.16227  1.16274  11286.6699
2018-07-27 11:00:00  1.16274  1.16306  1.16239  1.16266  10348.2998
2018-07-27 12:00:00  1.16265  1.16422  1.16208  1.16389  17262.3203
2018-07-27 13:00:00  1.16390  1.16570  1.16368  1.16548  17322.3691
2018-07-27 14:00:00  1.16549  1.16619  1.16500  1.16536  15758.2305
2018-07-27 15:00:00  1.16535  1.16624  1.16462  1.16599  13898.8896
2018-07-27 16:00:00  1.16598  1.16607  1.16482  1.16582  11464.2002
2018-07-27 17:00:00  1.16583  1.16625  1.16521  1.16572   9920.4102
2018-07-27 18:00:00  1.16571  1.16606  1.16559  1.16567   7507.5698
2018-07-27 19:00:00  1.16562  1.16646  1.16560  1.16592   8200.3301
2018-07-27 20:00:00  1.16594  1.16614  1.16566  1.16585   3992.9700

[9801 rows x 5 columns]

In [29]:
# MACD function (Moving Average convergence Divergence)

def macd(prices, periods):
    """
    :param prices: DataFrame of OHLC data
    :param periods: 1x2 array containing values for EMAs
    :return: MACD for indicated periods
    """

    results = pd.DataFrame(index=prices.index)

    EMA1 = prices.close.ewm(span=periods[0]).mean()
    EMA2 = prices.close.ewm(span=periods[1]).mean()

    MACD = pd.DataFrame(EMA1 - EMA2)
    MACD.columns = ['L']

    sigMACD = MACD.rolling(3).mean()
    sigMACD.columns = ['SL']

    results = pd.concat([results, MACD], axis=1)
    results = pd.concat([results, AD], axis=1)

    return results

In [30]:
procKey = [12, 13, 14, 15]

adosc(df, procKey)

,AD 12,AD 13,AD 14,AD 15
date,,,,
2017-01-01 22:00:00,NaN,NaN,NaN,NaN
2017-01-01 23:00:00,NaN,NaN,NaN,NaN
2017-01-02 00:00:00,NaN,NaN,NaN,NaN
2017-01-02 01:00:00,NaN,NaN,NaN,NaN
2017-01-02 02:00:00,NaN,NaN,NaN,NaN
2017-01-02 03:00:00,NaN,NaN,NaN,NaN
2017-01-02 04:00:00,NaN,NaN,NaN,NaN
2017-01-02 05:00:00,NaN,NaN,NaN,NaN
2017-01-02 06:00:00,NaN,NaN,NaN,NaN
2017-01-02 07:00:00,NaN,NaN,NaN,NaN
2017-01-02 08:00:00,NaN,NaN,NaN,NaN
2017-01-02 09:00:00,NaN,NaN,NaN,NaN
2017-01-02 10:00:00,NaN,NaN,NaN,NaN
2017-01-02 11:00:00,2021.377512,NaN,NaN,NaN
2017-01-02 12:00:00,7403.180816,5381.803304,NaN,NaN
2017-01-02 13:00:00,14942.061313,12440.387026,7058.583721,NaN
2017-01-02 14:00:00,19943.448754,17441.774467,12392.559465,5333.975744
2017-01-02 15:00:00,25557.951552,23241.522226,18192.307225,11612.292069
2017-01-02 16:00:00,26857.299095,24540.869770,19523.488286,12943.473130
2017-01-02 17:00:00,27838.342610,25522.217856,20504.836372,13936.791023
2017-01-02 18:00:00,31254.116220,28937.991466,23920.645017,17352.599667
2017-01-02 19:00:00,34445.170533,32129.045780,27111.699330,20543.542650
2017-01-02 20:00:00,39856.750633,37540.625880,32523.279430,25955.122750
2017-01-02 21:00:00,50865.870047,48406.506941,43389.160492,36821.003812
2017-01-02 22:00:00,51818.983632,49571.451721,44578.427558,38010.270877
2017-01-02 23:00:00,57644.950122,55668.300528,51887.498469,45470.029014
2017-01-03 00:00:00,57565.102931,56338.866384,52782.166340,47367.573035
2017-01-03 01:00:00,54470.677314,53666.564657,51532.122134,46542.269280
2017-01-03 02:00:00,52987.349369,52183.236712,50315.136569,46222.668255
2017-01-03 03:00:00,48553.676872,47749.564215,45881.464072,41992.090005
...,...,...,...,...
2018-07-26 15:00:00,-258122.037882,-474487.654207,-660908.119068,-753242.577377
2018-07-26 16:00:00,-248240.312336,-464605.928660,-651002.569570,-743337.027878
2018-07-26 17:00:00,-238190.780369,-454556.396693,-640953.037603,-733276.270341
2018-07-26 18:00:00,-226408.276850,-442773.893174,-629170.534084,-721493.766822
2018-07-26 19:00:00,-218032.706512,-434398.322836,-620794.963746,-713118.196483
2018-07-26 20:00:00,-213400.686241,-429753.265372,-616149.906281,-708473.139019
2018-07-26 21:00:00,-210330.581081,-426687.292191,-613086.136943,-705409.369681
2018-07-26 22:00:00,-207324.346339,-423681.057449,-610073.557622,-702393.406400
2018-07-26 23:00:00,-203611.531575,-419968.242685,-606360.742858,-698645.965033
2018-07-27 00:00:00,-195621.626305,-411978.337415,-598370.837588,-690656.059763
2018-07-27 01:00:00,-188547.081952,-404903.793062,-591296.293235,-683581.515409
2018-07-27 02:00:00,-185107.686427,-400461.689751,-586854.189924,-679139.412099
2018-07-27 03:00:00,-181833.048760,-396213.423008,-581793.648828,-674078.871003
2018-07-27 04:00:00,-180202.706468,-393635.576032,-578642.423764,-670449.290960
2018-07-27 05:00:00,-177824.784462,-391005.651695,-574067.113478,-664696.739339
2018-07-27 06:00:00,-173281.264198,-385808.634706,-568582.427664,-656991.332454
2018-07-27 07:00:00,-172233.904173,-381587.576190,-563668.170938,NaN
2018-07-27 08:00:00,-143187.519386,-353749.542836,NaN,NaN
2018-07-27 09:00:00,-115733.464568,NaN,NaN,NaN
2018-07-27 10:00:00,NaN,NaN,NaN,NaN
2018-07-27 11:00:00,NaN,NaN,NaN,NaN
2018-07-27 12:00:00,NaN,NaN,NaN,NaN
2018-07-27 13:00:00,NaN,NaN,NaN,NaN
2018-07-27 14:00:00,NaN,NaN,NaN,NaN
2018-07-27 15:00:00,NaN,NaN,NaN,NaN
2018-07-27 16:00:00,NaN,NaN,NaN,NaN
2018-07-27 17:00:00,NaN,NaN,NaN,NaN
2018-07-27 18:00:00,NaN,NaN,NaN,NaN
2018-07-27 19:00:00,NaN,NaN,NaN,NaN
2018-07-27 20:00:00,NaN,NaN,NaN,NaN

In [ ]:
# The data
interval = 20
run_length = 100
correct_predictions = 0
for i in range(run_length):
    X = df_with_averages.iloc[:df_with_averages.shape[0]- (i*interval),:-1]
    y = df_with_averages.result

    # Split the data
    X_train= X.iloc[:X.shape[0]-1,:]
    X_test= X.iloc[X.shape[0]-1:X.shape[0],:]
    y_train= y[:X.shape[0]-1]
    y_test =y [X.shape[0]-1:X.shape[0]]

    clf = GradientBoostingClassifier(random_state=5, learning_rate=0.01, n_estimators=10000)
    clf.fit(X_train, y_train) 

    # Predictions
    predicted = clf.predict(X_test)
    print (str(accuracy_score(y_test, predicted)))
    correct_predictions += accuracy_score(y_test, predicted)