In [1]:
import pandas as pd
import numpy as np
import plotly as py
from plotly import tools
import plotly.graph_objs as go
from feature_functions import *

# Loading the data
df = pd.read_csv("data/EURUSDhour.csv")
df.columns = ['date','open','high','low','close','volume']
df.date = pd.to_datetime(df.date, format='%d.%m.%Y %H:%M:%S.%f')
df = df.set_index(df.date)
df = df[['open','high','low','close','volume']]

# Drop elements where there is no mouvement (Market closed) like in the weekends
df = df.drop_duplicates(keep=False)
df.head(5)

                        open     high      low    close  volume
date
2017-01-01 22:00:00  1.05236  1.05253  1.05221  1.05227  143.54
2017-01-01 23:00:00  1.05227  1.05426  1.05226  1.05282  253.14
2017-01-02 00:00:00  1.05283  1.05283  1.05268  1.05281  131.40
2017-01-02 01:00:00  1.05282  1.05286  1.05225  1.05240  273.94
2017-01-02 02:00:00  1.05239  1.05240  1.05164  1.05220  258.14

In [5]:
# To concat the original dataframe with averages
df_with_averages = pd.concat([df, moving_averages(df, [2,3])[2],moving_averages(df, [2,3])[3]], axis=1)

# To concat the original dataframe with heikenashi
df_with_heikenashi = pd.concat([df, heinkenashi(df,[15])[15]], axis=1)


# Testing the heikenashi function
df_with_heikenashi

,open,high,low,close,volume,HA15 open,HA15 high,HA15 close,HA15 low
date,,,,,,,,,
2017-01-01 22:00:00,1.05236,1.05253,1.05221,1.05227,143.5400,1.052342,1.052342,1.052342,1.052342
2017-01-01 23:00:00,1.05227,1.05426,1.05226,1.05282,253.1400,1.052342,1.054260,1.052260,1.052903
2017-01-02 00:00:00,1.05283,1.05283,1.05268,1.05281,131.4000,1.052623,1.052830,1.052623,1.052787
2017-01-02 01:00:00,1.05282,1.05286,1.05225,1.05240,273.9400,1.052705,1.052860,1.052250,1.052583
2017-01-02 02:00:00,1.05239,1.05240,1.05164,1.05220,258.1400,1.052644,1.052644,1.051640,1.052157
2017-01-02 03:00:00,1.05219,1.05244,1.05184,1.05226,2288.1799,1.052401,1.052440,1.051840,1.052183
2017-01-02 04:00:00,1.05226,1.05232,1.05181,1.05193,711.8000,1.052292,1.052320,1.051810,1.052080
2017-01-02 05:00:00,1.05195,1.05197,1.05136,1.05161,288.2100,1.052186,1.052186,1.051360,1.051722
2017-01-02 06:00:00,1.05163,1.05176,1.05113,1.05172,390.8800,1.051954,1.051954,1.051130,1.051560
2017-01-02 07:00:00,1.05171,1.05243,1.05129,1.05162,3070.0701,1.051757,1.052430,1.051290,1.051762
2017-01-02 08:00:00,1.05159,1.05188,1.04878,1.04899,6903.9502,1.051760,1.051880,1.048780,1.050310
2017-01-02 09:00:00,1.04899,1.04932,1.04779,1.04877,6126.9600,1.051035,1.051035,1.047790,1.048717
2017-01-02 10:00:00,1.04879,1.04899,1.04786,1.04815,6102.1201,1.049876,1.049876,1.047860,1.048447
2017-01-02 11:00:00,1.04815,1.04818,1.04774,1.04790,2092.5300,1.049162,1.049162,1.047740,1.047993
2017-01-02 12:00:00,1.04792,1.04792,1.04653,1.04663,3961.3501,1.048577,1.048577,1.046530,1.047250
2017-01-02 13:00:00,1.04662,1.04697,1.04617,1.04666,5302.0698,1.047914,1.047914,1.046170,1.046605
2017-01-02 14:00:00,1.04672,1.04763,1.04653,1.04738,6837.7500,1.047259,1.047630,1.046530,1.047065
2017-01-02 15:00:00,1.04738,1.04745,1.04647,1.04725,8565.1904,1.047162,1.047450,1.046470,1.047138
2017-01-02 16:00:00,1.04726,1.04800,1.04691,1.04705,1806.4100,1.047150,1.048000,1.046910,1.047305
2017-01-02 17:00:00,1.04705,1.04705,1.04627,1.04668,1172.0100,1.047227,1.047227,1.046270,1.046763
2017-01-02 18:00:00,1.04667,1.04678,1.04610,1.04619,3437.7400,1.046995,1.046995,1.046100,1.046435
2017-01-02 19:00:00,1.04620,1.04652,1.04604,1.04610,3121.2500,1.046715,1.046715,1.046040,1.046215
2017-01-02 20:00:00,1.04610,1.04620,1.04575,1.04610,5411.5801,1.046465,1.046465,1.045750,1.046037
2017-01-02 21:00:00,1.04609,1.04609,1.04505,1.04552,9344.9502,1.046251,1.046251,1.045050,1.045687
2017-01-02 22:00:00,1.04556,1.04739,1.04555,1.04637,1460.3500,1.045969,1.047390,1.045550,1.046218
2017-01-02 23:00:00,1.04641,1.04722,1.04566,1.04579,9331.0195,1.046093,1.047220,1.045660,1.046270
2017-01-03 00:00:00,1.04578,1.04714,1.04574,1.04665,3570.3101,1.046182,1.047140,1.045740,1.046327
2017-01-03 01:00:00,1.04664,1.04810,1.04647,1.04760,4245.8398,1.046255,1.048100,1.046255,1.047203
2017-01-03 02:00:00,1.04760,1.04784,1.04709,1.04722,3148.0701,1.046729,1.047840,1.046729,1.047438
2017-01-03 03:00:00,1.04723,1.04850,1.04714,1.04850,3512.3899,1.047083,1.048500,1.047083,1.047842
...,...,...,...,...,...,...,...,...,...
2018-07-26 15:00:00,1.16590,1.16681,1.16506,1.16544,16375.8799,1.168399,1.168399,1.165060,1.165802
2018-07-26 16:00:00,1.16543,1.16669,1.16496,1.16632,12999.2598,1.167101,1.167101,1.164960,1.165850
2018-07-26 17:00:00,1.16634,1.16645,1.16542,1.16566,11545.7402,1.166475,1.166475,1.165420,1.165968
2018-07-26 18:00:00,1.16567,1.16572,1.16405,1.16454,10812.1797,1.166221,1.166221,1.164050,1.164995
2018-07-26 19:00:00,1.16451,1.16484,1.16410,1.16423,7245.4102,1.165608,1.165608,1.164100,1.164420
2018-07-26 20:00:00,1.16424,1.16484,1.16422,1.16434,4923.0898,1.165014,1.165014,1.164220,1.164410
2018-07-26 21:00:00,1.16435,1.16464,1.16391,1.16397,3016.7700,1.164712,1.164712,1.163910,1.164217
2018-07-26 22:00:00,1.16396,1.16425,1.16390,1.16417,3088.1299,1.164465,1.164465,1.163900,1.164070
2018-07-26 23:00:00,1.16417,1.16453,1.16382,1.16441,4166.1499,1.164267,1.164530,1.163820,1.164233
2018-07-27 00:00:00,1.16438,1.16453,1.16406,1.16418,8507.7695,1.164250,1.164530,1.164060,1.164287
2018-07-27 01:00:00,1.16418,1.16489,1.16380,1.16448,8247.7100,1.164269,1.164890,1.163800,1.164338
2018-07-27 02:00:00,1.16447,1.16529,1.16433,1.16526,6441.0498,1.164303,1.165290,1.164303,1.164837
2018-07-27 03:00:00,1.16525,1.16555,1.16487,1.16493,6685.0898,1.164570,1.165550,1.164570,1.165150
2018-07-27 04:00:00,1.16494,1.16519,1.16464,1.16477,4586.2900,1.164860,1.165190,1.164640,1.164885
2018-07-27 05:00:00,1.16477,1.16505,1.16409,1.16485,8698.9805,1.164873,1.165050,1.164090,1.164690
2018-07-27 06:00:00,1.16485,1.16514,1.16364,1.16464,12412.7100,1.164781,1.165140,1.163640,1.164567
2018-07-27 07:00:00,1.16463,1.16579,1.16426,1.16468,12568.3203,1.164674,1.165790,1.164260,1.164840
2018-07-27 08:00:00,1.16468,1.16475,1.16250,1.16265,14261.8496,1.164757,1.164757,1.162500,1.163645
2018-07-27 09:00:00,1.16265,1.16345,1.16222,1.16251,13384.6299,1.164201,1.164201,1.162220,1.162708
2018-07-27 10:00:00,1.16252,1.16345,1.16227,1.16274,11286.6699,1.163454,1.163454,1.162270,1.162745
2018-07-27 11:00:00,1.16274,1.16306,1.16239,1.16266,10348.2998,1.163100,1.163100,1.162390,1.162713
2018-07-27 12:00:00,1.16265,1.16422,1.16208,1.16389,17262.3203,1.162906,1.164220,1.162080,1.163210
2018-07-27 13:00:00,1.16390,1.16570,1.16368,1.16548,17322.3691,1.163058,1.165700,1.163058,1.164690
2018-07-27 14:00:00,1.16549,1.16619,1.16500,1.16536,15758.2305,1.163874,1.166190,1.163874,1.165510
2018-07-27 15:00:00,1.16535,1.16624,1.16462,1.16599,13898.8896,1.164692,1.166240,1.164620,1.165550
2018-07-27 16:00:00,1.16598,1.16607,1.16482,1.16582,11464.2002,1.165121,1.166070,1.164820,1.165673
2018-07-27 17:00:00,1.16583,1.16625,1.16521,1.16572,9920.4102,1.165397,1.166250,1.165210,1.165752
2018-07-27 18:00:00,1.16571,1.16606,1.16559,1.16567,7507.5698,1.165575,1.166060,1.165575,1.165758
2018-07-27 19:00:00,1.16562,1.16646,1.16560,1.16592,8200.3301,1.165666,1.166460,1.165600,1.165900
2018-07-27 20:00:00,1.16594,1.16614,1.16566,1.16585,3992.9700,1.165783,1.166140,1.165660,1.165898